.skills{

margin-top:60px;

}

.skills h2{

text-align:center;

color:#3498db;

margin-bottom:30px;

}

.skill-container{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}

.skill{

background:#3498db;

color:white;

padding:15px 30px;

border-radius:30px;

font-weight:bold;

transition:.3s;

}

.skill:hover{

transform:translateY(-5px);

background:#217dbb;

}

.dark .skill{

background:#2563eb;

}